# Node.js / Next.js
node_modules/
.next/
dist/
out/

# Java / Maven
target/
*.class
*.log

# IDEs / Editors
.vscode/
.idea/
*.iml

# Environment
.env
.env.*

# OS / System files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
